*{
  margin:0;
  padding:0;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(206, 214, 214);
    color: rgb(6, 6, 6);
    box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
  }

.buttondiv{
  padding-bottom: 10px;
}

#pycode {
    white-space: pre-line;
    display: inline-block;
    text-align: left;
  }
  
.home {
    padding: 120px 75px 0px 75px;
    margin: 0 0 200px 0;
    width: calc(100% - 150px);
    height: auto;
    text-align: center;
}

.defText{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.column{
  float:left;
  width: 35%;
  height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
  border: 1px solid rgb(0,0,0);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.column1{
  float:left;
  width: 32.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.noBullets{
  list-style-type: none;
}

.bottomBar{
  background-color: #b8b8b8;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 50px;
}

.bottomText{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  text-align: left;
  padding: 10px 10px 10px 0px;
}

.topArea{
  background-color: #b8b8b8;
  overflow: hidden;
}